header { 
	color:white;
	font-size: 3em;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 7px;
	text-decoration: none;
	margin: 20px;
	margin-bottom: 40px;
	padding: 10px;
	text-align: center;
	background:#99EE6B;
	border-top-right-radius: 110px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 18px;
	width:100%;
}
html {
	background: white;
}
p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	color:black;
	padding:20px;
}

a:link{
	color:white;
	text-decoration: none

}
h1 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 5px;
	color:white;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
	color:black;
	font-weight: bold;
}


a:visited{
	color:#00A876;
	text-decoration: none;
}

a:hover{
	color:white;
	text-decoration: none;
	font-size: 16px;
}

#container {
	float:center;
	margin: auto;
	width: 80%;

}
#tripletcontainer {
	
}
#tripletdiv {
	height: 30%;
	width:30%;
	background-color: white;
}

#wherediv {
	height: 45%;
	width:45%;
	background-color: white;
	float: auto;
	margin-left:auto;
	margin-right:auto;
}

#table {
	height: 70%;
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
#left {
	float:left;
	text-align: left;
	width: 150px;
	background:#99EE6B;
	color:white;
	padding: auto;
	height:85px;
	border-top-right-radius: 150px;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 18px;
}

#right {
	float: right;
	width: 80%;
	color:black;
	background:#99EE6B;
	padding: 8px;
	margin: 4px;
	border-top-right-radius: 110px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 18px;
}


