header {
	color:white;
	font-size: 3em;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 10px;
	text-decoration: none;
	margin: 20px;
	margin-bottom: 40px;
	padding: 10px;
	text-align: center;
	background:#99EE6B;
	border-top-right-radius: 110px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 18px;
	width:100%;
}
html {
	background: white;
}
p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
	color:black;
	padding:20px;
}

a:link{
	color:white;
	text-decoration: none

}
h1 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 5px;
	color:white;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
	color:black;
	font-weight: bold;
}
h3 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
	color:black;
	font-weight: bold;
}

a:visited{
	color:#00A876;
	text-decoration: none;
}

a:hover{
	color:white;
	text-decoration: none;
	font-size: 22px;
}

.box {
	margin-right: auto;
	margin-left: auto;
}


#container {
	float:center;
	margin: auto;
	width: 85%;

}

#left {
	float:left;
	text-align: left;
	width: 150px;
	background:#99EE6B;
	color:white;
	padding: auto;
	height:300px;
	border-top-right-radius: 150px;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 18px;
}

#right {
	float: right;
	width: 70%;
	color:black;
	background:#99EE6B;
	padding: 8px;
	margin: 4px;
	border-top-right-radius: 110px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 18px;
}
#wcenter {
	float: center;
	width: 70%;
	color:#C8FDA8;
	background:#00A876;
	padding: 4px;
	margin: 10px;
	border-top-right-radius: 110px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 18px;
	
}

.pfoot {
	float:left;
	clear:both;
	background:#99EE6B;
	color:#FCFFAA;
	font-size: 1em;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 13px;
	margin: 40px;
	padding: 10px;
	width:90%;
	border-radius: 200px;
	text-align: center;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 20px;
	
}
#fltext {
	float:right;
	color:#FCFFAA;
}